# San Francisco Crime Classification

## üìå Îç∞Ïù¥ÌÑ∞ÏÖã ÏÜåÍ∞ú

**2013ÎÖÑ 1ÏõîÎ∂ÄÌÑ∞ 2015ÎÖÑ 5ÏõîÍπåÏßÄ ÏÉåÌîÑÎûÄÏãúÏä§ÏΩîÏóêÏÑú Î∞úÏÉùÌïú Î≤îÏ£Ñ Îç∞Ïù¥ÌÑ∞**

- Dates: Î≤îÏ£Ñ Î∞úÏÉù ÏãúÍ∞Ñ
- Category: Î≤îÏ£Ñ Ïπ¥ÌÖåÍ≥†Î¶¨
- Descript: Ìï¥Îãπ ÏÇ¨Í±¥Ïóê ÎåÄÌïú ÏÑ§Î™Ö
- DayOfWeek: ÏÇ¨Í±¥Ïù¥ Î∞úÏÉùÌïú ÏöîÏùº
- PdDistrict: Í¥ÄÌï† Í≤ΩÏ∞∞ÏÑú
- Resolution: Ìï¥Í≤∞ Î∞©Î≤ï
- Address: Î≤îÏ£Ñ Ïû•ÏÜå
- X: ÏúÑÎèÑ
- Y: Í≤ΩÎèÑ

### ÏµúÏ¢Ö Î∂ÑÏÑù Î™©Ìëú : ÏÉåÌîÑÎûÄÏãúÏä§ÏΩî Î≤îÏ£Ñ Îç∞Ïù¥ÌÑ∞ Î∂ÑÏÑùÏùÑ Ïù¥Ïö©ÌïòÏó¨ Í±∞Î¶¨ Î≤îÏ£ÑÎ•º ÎÇÆÏ∂îÍ∏∞ ÏúÑÌïú Î∞©Ïïà ÎßàÎ†®
>
> - ÌäπÏ†ï ÏßÄÏó≠ÏóêÏÑú Î≤îÏ£ÑÍ∞Ä Î∞úÏÉùÌï† Í≤ΩÏö∞... Ïñ¥Îñ§ Ïπ¥ÌÖåÍ≥†Î¶¨Ïóê ÏÜçÌïú Î≤îÏ£ÑÏùºÏßÄ? 
ÏãúÍ∞Ñ Ïû•ÏÜå Îì±ÏùÑ Ïù¥Ïö©Ìï¥ÏÑú Ïπ¥ÌÖåÍ≥†Î¶¨Î•º Ï∞æÎäîÍ±∞ -> Î∂ÑÎ•ò Î¨∏Ï†ú

> - ÌäπÏ†ï Ïû•ÏÜå ÌäπÏ†ï ÏßÄÏó≠ ÏàúÏ∞∞Ï°∞ Ìé∏ÏÑ± : Ïñ¥Îäê Í¥ÄÌï†ÏÑúÍ∞Ä, Ïñ¥Îñ§ ÏöîÏùº/ÏãúÍ∞ÑÏóê, Ïñ¥Îñ§ Î≤îÏ£ÑÎ•º ÏúÑÏ£ºÎ°ú ÏòàÎ∞©ÌïòÍ∏∞ ÏúÑÌï¥ Ìö®Ïú®Ï†ÅÏúºÎ°ú ÏàúÏ∞∞Ìï† Í≤ÉÏù∏ÏßÄ
ÏßÄÎèÑ Ï∂úÎ†•Ìï¥ÏÑú Í¥ÄÌï†ÏÑú ÏúÑÏπòÎèÑ Ï∞æÏïÑÏÑú ÌëúÏãúÌïòÍ≥†
ÏöîÏùº/ ÏãúÍ∞Ñ Î∂ÑÏÑùÌï¥ÏÑú Ïñ¥Îñ§ Î≤îÏ£ÑÍ∞Ä ÏùºÏñ¥ÎÇòÎäîÏßÄ ÌëúÏãúÌïòÍ≥†
ÌëúÏãúÎêúÍ±∞ Î∞îÌÉïÏúºÎ°ú ÏàúÏ∞∞Ï°∞ ÏúÑÏπò ÌëúÏãú ÏãúÍ∞ÑÎåÄ Ïù∏ÏõêÏàò

## ÎùºÏù¥Î∏åÎü¨Î¶¨ Î∂àÎü¨Ïò§Í∏∞

In [1]:
import pandas as pd
import numpy as np
import os

## 1Ï∞® Îç∞Ïù¥ÌÑ∞ Ï†ÑÏ≤òÎ¶¨

In [2]:
# Îç∞Ïù¥ÌÑ∞ Î∂àÎü¨Ïò§Í∏∞
path = os.getenv('HOME') + '/aiffel/project_code/Datatone'
data = pd.read_csv(path + "/train.csv")

# Îç∞Ïù¥ÌÑ∞ Í∞ØÏàò Ï∂úÎ†•
print(data.shape[0])

878049

In [3]:
# Îç∞Ïù¥ÌÑ∞ Ï†ïÎ≥¥ Ï∂úÎ†•ÌïòÍ∏∞
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 878049 entries, 0 to 878048
Data columns (total 9 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Dates       878049 non-null  object
 1   Category    878049 non-null  object
 2   Descript    878049 non-null  object
 3   DayOfWeek   878049 non-null  object
 4   PdDistrict  878049 non-null  object
 5   Resolution  878049 non-null  object
 6   Address     878049 non-null  object
 7   X           878049 non-null  float64
 8   Y           878049 non-null  float64
dtypes: float64(2), object(7)
memory usage: 60.3+ MB

In [4]:
# Í≤∞Ï∏°Ïπò Ï≤òÎ¶¨ÌïòÍ∏∞
data.isnull().sum()

Dates         0
Category      0
Descript      0
DayOfWeek     0
PdDistrict    0
Resolution    0
Address       0
X             0
Y             0
dtype: int64

#### Í≤∞Ï∏°Ïπò ÏóÜÏùå

In [5]:
# Ï§ëÎ≥µÍ∞í ÌôïÏù∏ÌïòÍ∏∞
print("Ï§ëÎ≥µÍ∞í Í∞úÏàò : ", data.duplicated().sum())

Ï§ëÎ≥µÍ∞í Í∞úÏàò :  2323

In [6]:
# Ï§ëÎ≥µÍ∞í Ï†úÍ±∞ÌïòÍ∏∞
data.drop_duplicates(inplace = True)

# Ï§ëÎ≥µ Ï≤òÎ¶¨ ÌõÑ Îç∞Ïù¥ÌÑ∞ Í∞ØÏàò ÌôïÏù∏
print("ÎÇ®ÏùÄ Îç∞Ïù¥ÌÑ∞ Ïàò", data.shape[0])

ÎÇ®ÏùÄ Îç∞Ïù¥ÌÑ∞ Ïàò 875726

In [7]:
# string -> datetime ÌòïÌÉúÎ°ú Î≥ÄÌôò
data['Dates'] = pd.to_datetime(data['Dates'])

# 'Dates' Ïó¥ ÎÖÑ, Ïõî, Ïùº, ÏãúÎ°ú Î∂ÑÎ¶¨
data['Year'] = data['Dates'].dt.year
data['Month'] = data['Dates'].dt.month
data['Day'] = data['Dates'].dt.day
data['Hour'] = data['Dates'].dt.hour
data['Minute'] = data['Dates'].dt.minute
data['Second'] = data['Dates'].dt.second

In [8]:
# 'Dates' Ïó¥ Î≥ÄÌôò ÌôïÏù∏
data[['Year','Month','Day','Hour','Minute','Second']]

        Year  Month  Day  Hour  Minute  Second
0       2015      5   13    23      53       0
1       2015      5   13    23      53       0
2       2015      5   13    23      33       0
3       2015      5   13    23      30       0
4       2015      5   13    23      30       0
...      ...    ...  ...   ...     ...     ...
878044  2003      1    6     0      15       0
878045  2003      1    6     0       1       0
878046  2003      1    6     0       1       0
878047  2003      1    6     0       1       0
878048  2003      1    6     0       1       0

[875726 rows x 6 columns]

### Îç∞Ïù¥ÌÑ∞ Ï†ÑÏ≤òÎ¶¨ Ï†ïÎ¶¨
>
> - Í≤∞Ï∏°Ïπò ÏóÜÏùå
> - Ï§ëÎ≥µÍ∞í 2323Í∞ú Ï†úÍ±∞
> - 'Dates'Ïó¥ ÏãúÍ∞Ñ Îã®ÏúÑ Î≥ÑÎ°ú Î∂ÑÎ¶¨

## Îç∞Ïù¥ÌÑ∞ EDA + 2Ï∞® Îç∞Ïù¥ÌÑ∞ Ï†ÑÏ≤òÎ¶¨

In [9]:
# Î≤îÏ£Ñ Ïπ¥ÌÖåÍ≥†Î¶¨ ÌôïÏù∏
data['Category'].value_counts()

LARCENY/THEFT                  174320
OTHER OFFENSES                 125960
NON-CRIMINAL                    91915
ASSAULT                         76815
DRUG/NARCOTIC                   53919
VEHICLE THEFT                   53706
VANDALISM                       44581
WARRANTS                        42145
BURGLARY                        36600
SUSPICIOUS OCC                  31394
MISSING PERSON                  25669
ROBBERY                         22988
FRAUD                           16637
FORGERY/COUNTERFEITING          10592
SECONDARY CODES                  9979
WEAPON LAWS                      8550
PROSTITUTION                     7446
TRESPASS                         7318
STOLEN PROPERTY                  4537
SEX OFFENSES FORCIBLE            4380
DISORDERLY CONDUCT               4313
DRUNKENNESS                      4277
RECOVERED VEHICLE                3132
KIDNAPPING                       2340
DRIVING UNDER THE INFLUENCE      2268
LIQUOR LAWS                      1899
RUNAWAY                          1894
ARSON                            1512
LOITERING                        1207
EMBEZZLEMENT                     1164
SUICIDE                           508
FAMILY OFFENSES                   488
BAD CHECKS                        406
BRIBERY                           289
EXTORTION                         256
SEX OFFENSES NON FORCIBLE         148
GAMBLING                          146
PORNOGRAPHY/OBSCENE MAT            22
TREA                                6
Name: Category, dtype: int64

## Î≤îÏ£Ñ Ïπ¥ÌÖåÍ≥†Î¶¨ Î≤àÏó≠
> - LARCENY/THEFT - Ï†àÎèÑ(Í≤ΩÎ≤îÏ£Ñ)
> - OTHER OFFENSES - Í∏∞ÌÉÄ Î≤îÏ£Ñ
> - NON-CRIMINAL - ÎπÑÎ≤îÏ£Ñ
> - ASSAULT - Ìè≠Ìñâ
> - DRUG/NARCOTIC - ÎßàÏïΩ/ÎßàÏïΩÎ•ò
> - VEHICLE THEFT - Ï∞®Îüâ Ï†àÎèÑ
> - VANDALISM - Í∏∞Î¨º ÌååÏÜê
> - WARRANTS - Íµ¨ÏÜç
> - BURGLARY - Ï†àÎèÑ(Ï§ëÎ≤îÏ£Ñ)
> - SUSPICIOUS OCC - ÏùòÏã¨Ïä§Îü¨Ïö¥ ÏÇ¨Í±¥
> - MISSING PERSON - Ïã§Ï¢Ö
> - ROBBERY - Í∞ïÎèÑ
> - FRAUD - ÏÇ¨Í∏∞
> - FORGERY/COUNTERFEITING - ÏúÑÏ°∞/ÏúÑÏ°∞Ìíà
> - SECONDARY CODES - 2Ï∞®Ï†Å Î∞∞Í≤ΩÎì§Ïù¥ ÏûàÎäî ÏÇ¨Í±¥
> - WEAPON LAWS - Ï¥ùÍ∏∞ ÏÇ¨Í≥†
> - PROSTITUTION - Îß§Ï∂ò
> - TRESPASS - Î¨¥Îã® Ïπ®ÏûÖ
> - STOLEN PROPERTY - ÎèÑÎÇúÎãπÌïú Ïû¨ÏÇ∞
> - SEX OFFENSES FORCIBLE - Í∞ïÏ†ú ÏÑ±Î≤îÏ£Ñ
> - DISORDERLY CONDUCT - Î¨∏ÎûÄÌñâÏúÑ
> - DRUNKENNESS - ÏùåÏ£º
> - RECOVERED VEHICLE - Ï∞®Îüâ ÌÉàÏ∑®
> - KIDNAPPING - ÎÇ©Ïπò
> - DRIVING UNDER THE INFLUENCE - ÏùåÏ£ºÏö¥Ï†Ñ
> - LIQUOR LAWS - Ï£ºÎ•ò Í¥ÄÎ†® Î≤ïÍ∑ú ÏúÑÎ∞ò
> - RUNAWAY - Í∞ÄÏ∂ú
> - ARSON - Î∞©Ìôî
> - LOITERING - ÏùòÏã¨Ïä§Î°úÏö¥ Î∞∞Ìöå Î∞è Î∞©Ìô©
> - EMBEZZLEMENT - Ìö°Î†π
> - SUICIDE - ÏûêÏÇ¥
> - FAMILY OFFENSES - Í∞ÄÏ°± Í¥ÄÎ†® Î≤îÏ£Ñ
> - BAD CHECKS - Î∂ÄÎèÑ ÏàòÌëú
> - BRIBERY - ÎáåÎ¨º
> - EXTORTION - Í∞àÏ∑®
> - SEX OFFENSES NON FORCIBLE - Í∞ïÏ†úÍ∞Ä ÏïÑÎãå ÏÑ±Î≤îÏ£Ñ
> - GAMBLING - ÎèÑÎ∞ï
> - PORNOGRAPHY/OBSCENE MAT - ÏùåÎûÄÌñâÏúÑ, Ïô∏ÏÑ§ÌñâÏúÑ
> - TREA - Î¨¥Îã®Ïπ®ÏûÖ

### Ï£ºÏ†úÏôÄ Î≤óÏñ¥ÎÇòÎäî Î≤îÏ£Ñ Î¶¨Ïä§Ìä∏
- NON-CRIMINAL, WARRANTS, SUSPICIOUS OCC, FRAUD, FORGERY/COUNTERFEITING, SECONDARY CODES, PROSTITUTION, DRIVING UNDER THE INFLUENCE, LIQUOR LAWS, RUNAWAY, EMBEZZLEMENT, SUICIDE, BAD CHECKS, BRIBERY, GAMBLING

In [13]:
# Í±∞Î¶¨ Î≤îÏ£ÑÎßå ÎÇ®Í∏∞Í∏∞
drop_crimes = ['NON-CRIMINAL', 'WARRANTS', 'SUSPICIOUS OCC', 'FRAUD', 'FORGERY/COUNTERFEITING', 'SECONDARY CODES', 'PROSTITUTION', 'DRIVING UNDER THE INFLUENCE', 'LIQUOR LAWS', 'RUNAWAY', 'EMBEZZLEMENT', 'SUICIDE', 'BAD CHECKS', 'BRIBERY', 'GAMBLING']

city_crimes = data[~data['Category'].isin(drop_crimes)]
city_crimes['Category'].value_counts()

LARCENY/THEFT                174320
OTHER OFFENSES               125960
ASSAULT                       76815
DRUG/NARCOTIC                 53919
VEHICLE THEFT                 53706
VANDALISM                     44581
BURGLARY                      36600
MISSING PERSON                25669
ROBBERY                       22988
WEAPON LAWS                    8550
TRESPASS                       7318
STOLEN PROPERTY                4537
SEX OFFENSES FORCIBLE          4380
DISORDERLY CONDUCT             4313
DRUNKENNESS                    4277
RECOVERED VEHICLE              3132
KIDNAPPING                     2340
ARSON                          1512
LOITERING                      1207
FAMILY OFFENSES                 488
EXTORTION                       256
SEX OFFENSES NON FORCIBLE       148
PORNOGRAPHY/OBSCENE MAT          22
TREA                              6
Name: Category, dtype: int64

In [14]:
print("ÎÇ®ÏùÄ Îç∞Ïù¥ÌÑ∞ Ïàò", city_crimes.shape[0])

ÎÇ®ÏùÄ Îç∞Ïù¥ÌÑ∞ Ïàò 657044

## 1Î≤à

## 2Î≤à

## 3Î≤à

## 4Î≤à

## ÏµúÏ¢Ö Í≤∞Î°†